<!DOCTYPE html>
<html>

<head>
    <title>员工理赔主页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/information.css" />
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/underwriter.js"></script>
    <style type="text/css">
    body {
        text-align: center;
        background: #F7FAFC;
        overflow: auto;
        background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    }

    html {
        height: 100%;
    }
    </style>
</head>

<body>
    <section class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="col-sm-3 abled"><a href="/adminlogout">退出登录</a></li>
                    </ul>
                </div>·
            </div>
        </div>
    </section>
    <section class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped" style="margin-top:50px;border:1px solid">
                        <thead>
                            <tr id="list3">
                                <td class="info">理赔单号</td>
                                <td class="active">负责人</td>
                                <td class="success">理赔状态</td>
                                <td class="info">确认复核</td>
                            </tr>
                        </thead>
                        <tbody id="list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>